---
import Layout from "../layouts/Layout.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/icono.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cavelux - F치brica de Carteles</title>
		<link rel="canonical" href="https://cavelux.com.ar/" />
		<meta name="keywords" content="cavelux, f치brica de carteles, carteles luminosos, se침alizaci칩n, publicidad exterior, cartel, carteles" />
	</head>
	<body>
		<Layout>
		
		</Layout>
		
	</body>
</html>
