<div class="py-14">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8">
        <h3 class="font-semibold text-lg text-gray-600 text-center">
            Confian en en nosotros
        </h3>
        <div class="mt-6">
            <ul
                class="flex gap-y-6 flex-wrap items-center justify-center [&>*]:px-12 lg:divide-x"
            >
                {/* LOGO 1 */}
                <li class="flex-none">
                    <svg
                        width="129"
                        height="48"
                        viewBox="0 0 62.724665 15.855481"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        
                    >
                        <defs>
                            <symbol id="a" overflow="visible"></symbol>
                            <symbol id="b" overflow="visible"></symbol>
                            <symbol id="c" overflow="visible"></symbol>
                            <symbol id="d" overflow="visible"></symbol>
                            <symbol id="e" overflow="visible"></symbol>
                            <symbol id="f" overflow="visible"></symbol>
                            <symbol id="g" overflow="visible"></symbol>
                            <symbol id="h" overflow="visible"></symbol>
                        </defs>
                        <g
                            transform="matrix(.35277777 0 0 .35277777 -757.373527 -376.705967)"
                        >
                            <use
                                fill="#073859"
                                height="100%"
                                width="100%"
                                x="71.138298"
                                xlink:href="#a"
                                y="96.321404"></use>
                            <use
                                fill="#073859"
                                height="100%"
                                width="100%"
                                x="129.8183"
                                xlink:href="#a"
                                y="96.321404"></use>
                            <use
                                fill="#073859"
                                height="100%"
                                width="100%"
                                x="159.1463"
                                xlink:href="#a"
                                y="96.321404"></use>
                            <use
                                fill="#073859"
                                height="100%"
                                width="100%"
                                x="141.81662"
                                xlink:href="#a"
                                y="123.45964"></use>
                            <use
                                fill="#073859"
                                height="100%"
                                width="100%"
                                x="183.12062"
                                xlink:href="#a"
                                y="123.45964"></use>
                            <use
                                fill="#0fb0dc"
                                height="100%"
                                width="100%"
                                x="141.8183"
                                xlink:href="#b"
                                y="157.78156"></use>
                        </g>
                        <use
                            fill="#fff"
                            height="100%"
                            transform="matrix(.35277779 0 0 .35277779 -736.000667 -353.947875)"
                            width="100%"
                            x="123.9363"
                            xlink:href="#c"
                            y="386.39661"></use>
                        <use
                            fill="#009c7d"
                            height="100%"
                            transform="matrix(.35277778 0 0 .35277778 -488.02013 -136.53639)"
                            width="100%"
                            x="186.1642"
                            xlink:href="#d"
                            y="753.54327"></use>
                        <use
                            fill="#009c7d"
                            height="100%"
                            transform="matrix(.35277778 0 0 .35277778 -488.02013 -136.53639)"
                            width="100%"
                            x="224.3082"
                            xlink:href="#d"
                            y="753.54327"></use>
                        <use
                            fill="#009c7d"
                            height="100%"
                            transform="matrix(.35277778 0 0 .35277778 -488.02013 -136.53639)"
                            width="100%"
                            x="108.1002"
                            xlink:href="#d"
                            y="775.9433"></use>
                        <use
                            fill="#009c7d"
                            height="100%"
                            transform="matrix(.35277778 0 0 .35277778 -488.02013 -136.53639)"
                            width="100%"
                            x="176.3082"
                            xlink:href="#d"
                            y="775.9433"></use>
                        <use
                            fill="#009c7d"
                            height="100%"
                            transform="matrix(.35277778 0 0 .35277778 -488.02013 -136.53639)"
                            width="100%"
                            x="229.4442"
                            xlink:href="#d"
                            y="775.9433"></use>
                        <use
                            fill="#fff"
                            height="100%"
                            transform="matrix(.35277776 0 0 .35277776 -119.14041 -39.57339)"
                            width="100%"
                            x="476.539"
                            xlink:href="#e"
                            y="465.8103"></use>
                        <use
                            fill="#4c5757"
                            height="100%"
                            transform="matrix(.35277778 0 0 .35277778 -45.22028 -37.95158)"
                            width="100%"
                            x="552.75769"
                            xlink:href="#f"
                            y="754.40802"></use>
                        <use
                            fill="#fff"
                            height="100%"
                            transform="matrix(.35277778 0 0 .35277778 -34.81059 -40.97204)"
                            width="100%"
                            x="365.3136"
                            xlink:href="#g"
                            y="761.56128"></use>
                        <use
                            height="100%"
                            transform="matrix(.35277779 0 0 .35277779 -8.18975 23.3695)"
                            width="100%"
                            x="95.2547"
                            xlink:href="#h"
                            y="460.0199"></use>
                        <use
                            height="100%"
                            transform="matrix(.35277779 0 0 .35277779 -8.18975 23.3695)"
                            width="100%"
                            x="102.7297"
                            xlink:href="#h"
                            y="460.0199"></use>
                        <path
                            d="m779.15042 407.11355c0-.0288 0-12.24862 0-12.24862s-10.83738-10.02393-13.70197-12.69685c-3.29131-3.05065-6.27796-4.67763-6.27796-4.67763h17.21202s.47443 1.64674 3.62823 4.67763c.55436.53287 5.75239 5.45544 5.75239 5.45544s4.64153-4.44601 5.69952-5.43997c3.15251-3.04636 3.66517-4.6931 3.66517-4.6931h17.19913s-2.98921 1.64674-6.26718 4.67763c-.92737.86719-13.70629 12.69685-13.70629 12.69685v12.24862c0 3.04379 1.22732 4.67762 1.22732 4.67762h-15.65556s1.22518-1.63383 1.22518-4.67762zm80.19429 0c0-.77481 0-16.7853 0-24.94547 0-3.03089-1.21915-4.67763-1.21915-4.67763h38.4601v8.4567s-1.64803-1.21613-4.69352-1.21613c-2.68539 0-19.31987 0-19.31987 0v7.61354h14.76557c3.03133 0 4.69268-.80404 4.69268-.80404v8.01449s-1.66135-.80917-4.69268-.80917c-.63299 0-14.76557 0-14.76557 0v8.36771c0 3.04379 1.20324 4.67762 1.20324 4.67762h-15.64995s1.21915-1.63383 1.21915-4.67762zm-30.76231-13.92587v-9.30325h6.29729c4.83233 0 6.77257 1.59086 6.77257 4.56848 0 2.92216-2.67682 4.73477-7.85077 4.73477zm-14.43466 18.60349h15.65296s-1.2183-1.63383-1.2183-4.67762c0-3.0498 0-7.54351 0-7.54351h9.21173c11.94568 0 16.28638-5.94103 16.28638-11.26024 0-5.53149-3.39188-10.81935-15.34356-10.81935h-24.58921s1.21827 1.64674 1.21827 4.67763v24.94547c0 3.04379-1.21827 4.67762-1.21827 4.67762z"
                            fill="#0063c2"
                            fill-rule="evenodd"
                            stroke-width=".264583"
                            transform="matrix(.45453558 0 0 .45453558 -344.93771 -171.45055)"
                        ></path>
                    </svg>
                </li>

                {/* LOGO 2 */}
                <li class="flex-none">
                    <svg
                        xmlns:dc="http://purl.org/dc/elements/1.1/"
                        xmlns:cc="http://creativecommons.org/ns#"
                        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                        xmlns:svg="http://www.w3.org/2000/svg"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                        xml:space="preserve"
                        width="140"
                        height="55"
                        style="clip-rule:evenodd;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"
                        viewBox="0 0 400 95"
                        id="svg3317"
                        version="1.1"
                        inkscape:version="0.92.3 (2405546, 2018-03-11)"
                        sodipodi:docname="macrochoreado.svg"
                        ><metadata id="metadata3364"
                            ><rdf:RDF
                                ><cc:Work rdf:about=""
                                    ><dc:format>image/svg+xml</dc:format
                                    ><dc:type
                                        rdf:resource="http://purl.org/dc/dcmitype/StillImage"
                                    ></dc:type><dc:title></dc:title></cc:Work
                                ></rdf:RDF
                            ></metadata
                        ><sodipodi:namedview
                            pagecolor="#ffffff"
                            bordercolor="#666666"
                            borderopacity="1"
                            objecttolerance="10"
                            gridtolerance="10"
                            guidetolerance="10"
                            inkscape:pageopacity="0"
                            inkscape:pageshadow="2"
                            inkscape:window-width="1366"
                            inkscape:window-height="706"
                            id="namedview3362"
                            showgrid="false"
                            inkscape:zoom="1"
                            inkscape:cx="105.99926"
                            inkscape:cy="108.13205"
                            inkscape:window-x="-8"
                            inkscape:window-y="-8"
                            inkscape:window-maximized="1"
                            inkscape:current-layer="svg3317"
                        ></sodipodi:namedview>
                        <defs id="defs3319">
                            <style type="text/css" id="style3321">
                                .fil1 {
                                    fill: white;
                                }
                                .fil4 {
                                    fill: #0093dd;
                                    fill-rule: nonzero;
                                }
                                .fil3 {
                                    fill: url(#id0);
                                }
                                .fil0 {
                                    fill: url(#id1);
                                }
                                .fil2 {
                                    fill: url(#id2);
                                }
                            </style>
                            <linearGradient
                                id="id0"
                                gradientUnits="userSpaceOnUse"
                                x1="77.917503"
                                y1="55.315899"
                                x2="77.917503"
                                y2="100.781"
                            >
                                <stop
                                    offset="0"
                                    style="stop-color:#75C5F0"
                                    id="stop3324"></stop>
                                <stop
                                    offset="0.509804"
                                    style="stop-color:#0093DD"
                                    id="stop3326"></stop>
                                <stop
                                    offset="1"
                                    style="stop-color:#B6DDC7"
                                    id="stop3328"></stop>
                            </linearGradient>
                            <linearGradient
                                id="id1"
                                gradientUnits="userSpaceOnUse"
                                x1="77.917503"
                                y1="8.0823002"
                                x2="77.917503"
                                y2="77.802902"
                            >
                                <stop
                                    offset="0"
                                    style="stop-color:#75C5F0"
                                    id="stop3331"></stop>
                                <stop
                                    offset="0.541176"
                                    style="stop-color:#007CC3"
                                    id="stop3333"></stop>
                                <stop
                                    offset="1"
                                    style="stop-color:white"
                                    id="stop3335"></stop>
                            </linearGradient>
                            <linearGradient
                                id="id2"
                                gradientUnits="userSpaceOnUse"
                                href="#id1"
                                x1="77.917503"
                                y1="30.465401"
                                x2="77.917503"
                                y2="77.801697"
                            >
                            </linearGradient>

                            <linearGradient
                                inkscape:collect="always"
                                xlink:href="#id1-9"
                                id="linearGradient3379-4"
                                gradientUnits="userSpaceOnUse"
                                x1="77.917503"
                                y1="8.0823002"
                                x2="77.917503"
                                y2="77.802902"></linearGradient><linearGradient
                                id="id1-9"
                                gradientUnits="userSpaceOnUse"
                                x1="77.917503"
                                y1="8.0823002"
                                x2="77.917503"
                                y2="77.802902"
                                ><stop
                                    offset="0"
                                    style="stop-color:#75C5F0"
                                    id="stop3331-3"></stop><stop
                                    offset="0.541176"
                                    style="stop-color:#007CC3"
                                    id="stop3333-1"></stop><stop
                                    offset="1"
                                    style="stop-color:white"
                                    id="stop3335-1"></stop></linearGradient
                            ></defs
                        >

                        <g
                            id="g86"
                            transform="matrix(0.72679544,0,0,0.72679544,-14.013674,-0.07099302)"
                            style="fill:#232b54;fill-opacity:1"
                            ><path
                                id="path12"
                                d="M 121.6,39.8 C 90,39.8 63.8,64.3 62,95.5 c 0,0.8 0.2,1.5 0.8,2.1 0.5,0.6 1.3,0.9 2.1,0.9 H 86 c 1.5,0 2.7,-1.1 2.9,-2.7 1.6,-16.8 15.7,-29.5 32.8,-29.5 17.1,0 31.2,12.7 32.8,29.5 0.1,1.5 1.4,2.7 2.9,2.7 h 21 c 0.8,0 1.6,-0.3 2.1,-0.9 0.5,-0.6 0.8,-1.3 0.8,-2.1 -1.9,-31.3 -28.1,-55.7 -59.7,-55.7"
                                class="st0"
                                inkscape:connector-curvature="0"
                                style="fill:#232b54;fill-opacity:1"></path><path
                                id="path14"
                                d="m 121.6,72.1 c -14.9,0 -27.1,12 -27.1,26.8 0,14.8 12.2,26.8 27.1,26.8 14.9,0 27.1,-12 27.1,-26.8 0,-14.8 -12.2,-26.8 -27.1,-26.8"
                                class="st0"
                                inkscape:connector-curvature="0"
                                style="fill:#232b54;fill-opacity:1"></path><path
                                id="path16"
                                d="m 121.6,7.5 c -24,0 -46.8,9.1 -64.1,25.6 -17.2,16.5 -27.2,38.6 -28.1,62.3 0,0.8 0.3,1.5 0.8,2.1 0.6,0.6 1.3,0.9 2.1,0.9 h 20.9 c 1.5,0 2.8,-1.2 2.9,-2.7 1.7,-34.7 30.4,-61.8 65.5,-61.8 35,0 63.8,27.1 65.5,61.8 0.1,1.5 1.3,2.7 2.9,2.7 h 20.9 c 0.8,0 1.5,-0.3 2.1,-0.9 0.6,-0.6 0.8,-1.3 0.8,-2.1 C 212.9,71.7 202.9,49.6 185.7,33.1 168.4,16.7 145.6,7.5 121.6,7.5"
                                class="st0"
                                inkscape:connector-curvature="0"
                                style="fill:#232b54;fill-opacity:1"></path><path
                                id="path18"
                                d="m 322.4,19.1 h -24 c -0.4,0 -0.7,0.2 -0.7,0.6 l -15,58.4 h -0.2 L 268,19.7 c -0.1,-0.3 -0.4,-0.6 -0.7,-0.6 h -25 c -0.4,0 -0.7,0.3 -0.8,0.7 l -5.2,77.1 c 0,0.2 0.1,0.4 0.2,0.6 0.1,0.2 0.4,0.2 0.6,0.2 h 13 c 0.4,0 0.7,-0.3 0.8,-0.7 l 3.8,-64.2 h 0.1 l 17.1,64.4 c 0.1,0.3 0.4,0.6 0.7,0.6 h 17.9 c 0.3,0 0.6,-0.2 0.7,-0.6 l 17.7,-64.4 h 0.1 l 2.8,64.2 c 0,0.4 0.4,0.7 0.8,0.7 h 15.1 c 0.2,0 0.4,-0.1 0.6,-0.2 0.1,-0.2 0.2,-0.4 0.2,-0.6 l -5.2,-77.1 c -0.1,-0.4 -0.5,-0.7 -0.9,-0.7"
                                class="st0"
                                inkscape:connector-curvature="0"
                                style="fill:#232b54;fill-opacity:1"></path><path
                                id="path20"
                                d="m 361.1,37.2 c -6.2,0 -15.7,1 -20.7,2.1 -0.3,0.1 -0.6,0.4 -0.6,0.7 v 10.9 c 0,0.2 0.1,0.4 0.3,0.6 0.2,0.1 0.4,0.2 0.6,0.1 3.5,-0.8 11.5,-2.1 19.5,-2.1 13.3,0 13.7,3.2 13.7,11.6 h -1.2 c -12,0 -25.6,0 -32.5,6.8 -2.9,2.8 -4.3,6.7 -4.3,11.5 0,16.8 13.3,19.3 27.7,19.5 1.3,0 2.6,0.1 3.9,0.1 6.7,0 13.7,-0.5 23.1,-1.5 0.4,0 0.7,-0.4 0.7,-0.8 V 57.2 c 0,-5.9 -1.7,-10.5 -5,-13.7 -5.8,-5.7 -15.5,-6.4 -25.2,-6.3 m 12.8,35.5 v 14.1 c -3,0.4 -5.5,0.6 -8.4,0.6 -6.8,0 -11.6,-0.5 -11.6,-7.4 0,-6.9 4.8,-7.4 11.6,-7.4 4.1,0 6.9,0 8.4,0.1"
                                class="st0"
                                inkscape:connector-curvature="0"
                                style="fill:#232b54;fill-opacity:1"></path><path
                                id="path22"
                                d="m 449.5,85.1 -1,0.1 c -2.8,0.4 -5.5,0.7 -10.1,0.7 -15.2,0 -21.4,-5.3 -21.4,-18.2 0,-12.8 6,-17.9 21.4,-17.9 3.5,0 6.5,0.3 10.7,0.8 0.2,0 0.4,0 0.6,-0.2 0.2,-0.1 0.3,-0.3 0.3,-0.6 V 39.5 c 0,-0.4 -0.2,-0.7 -0.6,-0.7 -5,-1.1 -10.7,-1.7 -17.1,-1.7 -23,0 -33.3,15 -33.3,29.8 0,20 12.7,31.9 34,31.9 6.4,0 11.7,-0.6 16.9,-1.9 0.3,-0.1 0.6,-0.4 0.6,-0.7 V 85.7 c 0,-0.2 -0.1,-0.4 -0.3,-0.6 -0.3,0 -0.5,0 -0.7,0"
                                class="st0"
                                inkscape:connector-curvature="0"
                                style="fill:#232b54;fill-opacity:1"></path><path
                                id="path24"
                                d="m 497.4,38.7 c 0,-0.4 -0.3,-0.8 -0.8,-0.8 h -1 c -5.2,0 -11.6,-0.1 -21,5.2 v -4 c 0,-0.4 -0.3,-0.8 -0.8,-0.8 h -14 c -0.4,0 -0.8,0.3 -0.8,0.8 V 97 c 0,0.4 0.3,0.8 0.8,0.8 h 15.8 c 0.4,0 0.8,-0.3 0.8,-0.8 V 55.7 c 5.2,-3.4 13.7,-3.4 19.4,-3.4 h 0.9 c 0.4,0 0.8,-0.3 0.8,-0.8 z"
                                class="st0"
                                inkscape:connector-curvature="0"
                                style="fill:#232b54;fill-opacity:1"></path><path
                                id="path26"
                                d="m 529.2,37.1 c -19.7,0 -31.9,11.9 -31.9,30.9 0,19.1 12.2,30.9 31.9,30.9 18.6,0 31.7,-12.7 31.7,-30.9 0,-19.1 -12.2,-30.9 -31.7,-30.9 m 13.7,31.1 c 0,13.2 -4,18.6 -13.8,18.6 -9.9,0 -13.9,-5.4 -13.9,-18.6 0,-13.3 4,-18.7 13.9,-18.7 9.8,0 13.8,5.4 13.8,18.7"
                                class="st0"
                                inkscape:connector-curvature="0"
                                style="fill:#232b54;fill-opacity:1"></path></g
                        ></svg
                    >
                </li>

                {/* LOGO 3 */}
                <li class="flex-none">
                    <svg
                        width="129"
                        height="60"
                        viewBox="0 0 238.2 41.9"
                        xmlns="http://www.w3.org/2000/svg"
                        
                    >
                        <defs>
                            <style type="text/css">
                                .st0 {
                                    fill: #292929;
                                }
                            </style>
                        </defs>
                        <g transform="translate(0,-0.4)">
                            <path
                                class="st0"
                                d="M 31.5,19.5 C 31.4,18 31,16.5 30.2,15.2 L 23.4,3.3 C 22.9,2.4 22.5,1.4 22.3,0.4 L 22,0.9 c -1.7,2.9 -1.7,6.6 0,9.5 l 5.5,9.5 c 1.7,2.9 1.7,6.6 0,9.5 l -0.3,0.5 c -0.2,-1 -0.6,-2 -1.1,-2.9 l -5,-8.7 -3.2,-5.6 C 17.4,11.8 17,10.8 16.8,9.8 l -0.3,0.5 c -1.7,2.9 -1.7,6.5 0,9.5 v 0 l 5.5,9.5 c 1.7,2.9 1.7,6.6 0,9.5 l -0.3,0.5 c -0.2,-1 -0.6,-2 -1.1,-2.9 L 13.7,24.5 C 12.8,22.9 12.4,21.1 12.4,19.3 5.1,21.2 0,25.3 0,30 0,36.6 9.8,41.9 21.9,41.9 34,41.9 43.8,36.6 43.8,30 43.9,25.5 38.9,21.4 31.5,19.5 Z m 20.7,20.3 c 0.1,-1.7 0.3,-2.8 0.8,-4.2 2.3,1.1 5.3,1.6 7.5,1.6 3.8,0 6,-1.2 6,-3.7 0,-2.4 -1.6,-3.5 -5.4,-5.2 L 59,27.5 c -3.9,-1.7 -6.5,-3.9 -6.5,-8.2 0,-4.7 3.3,-7.7 9.9,-7.7 2.7,0 5.2,0.4 7.5,1.2 -0.1,1.6 -0.4,2.9 -0.8,4.1 -2.2,-0.8 -4.9,-1.2 -6.8,-1.2 -3.6,0 -5.2,1.4 -5.2,3.6 0,2.1 1.6,3.4 4.5,4.6 l 2.2,0.9 c 5.2,2.2 7.4,4.6 7.4,8.6 0,4.7 -3.6,8 -10.6,8 -3.3,0 -6.1,-0.5 -8.4,-1.6 z M 93.3,20.1 v 20.6 h -4.2 l -0.2,-2.5 c -1.2,1.8 -2.9,3 -5.8,3 -5.4,0 -9.1,-4 -9.1,-10.9 0,-7.2 3.9,-11.4 11.5,-11.4 3,0.1 5.5,0.4 7.8,1.2 z M 88.8,36 V 23.1 c -0.9,-0.2 -2,-0.2 -3.3,-0.2 -4.7,0 -6.9,2.9 -6.9,7.5 0,4.2 1.7,7.2 5.7,7.2 1.9,-0.1 3.3,-0.7 4.5,-1.6 z m 27.7,-9.1 V 40.7 H 112 v -13 c 0,-3.3 -1.1,-4.8 -5.6,-4.8 -1.1,0 -2.3,0.1 -3.6,0.3 V 40.7 H 98.3 V 20.1 c 2.9,-0.7 6.1,-1.2 8.2,-1.2 7.6,0.1 10,3 10,8 z m 12.6,10.5 c 1.3,0 2.6,-0.2 3.5,-0.6 -0.1,1.2 -0.3,2.6 -0.5,3.8 -1.2,0.5 -2.6,0.7 -3.8,0.7 -4.4,0 -7.2,-2 -7.2,-7 V 12.6 c 1.4,-0.5 3.1,-0.7 4.5,-0.7 v 7.8 h 7.2 c -0.1,1.4 -0.2,2.7 -0.4,3.9 h -6.8 v 10.1 c 0,2.6 1.3,3.7 3.5,3.7 z m 24.3,-17.3 v 20.6 h -4.2 L 149,38.2 c -1.2,1.8 -2.9,3 -5.8,3 -5.4,0 -9.1,-4 -9.1,-10.9 0,-7.2 3.9,-11.4 11.5,-11.4 3,0.1 5.4,0.4 7.8,1.2 z M 148.8,36 V 23.1 c -0.9,-0.2 -2,-0.2 -3.3,-0.2 -4.7,0 -6.9,2.9 -6.9,7.5 0,4.2 1.7,7.2 5.7,7.2 1.9,-0.1 3.4,-0.7 4.5,-1.6 z m 27.8,-9.1 V 40.7 H 172 v -13 c 0,-3.3 -1.1,-4.8 -5.6,-4.8 -1.1,0 -2.3,0.1 -3.6,0.3 v 17.5 h -4.5 V 20.1 c 2.9,-0.7 6.1,-1.2 8.2,-1.2 7.6,0.1 10.1,3 10.1,8 z m 22.9,-15 v 28.8 h -4.2 l -0.2,-2.6 c -1.2,1.9 -2.9,3.1 -5.9,3.1 -5.4,0 -9.1,-4 -9.1,-10.9 0,-7.2 3.9,-11.4 11.5,-11.4 1.2,0 2.3,0.1 3.4,0.3 v -6.8 c 1.4,-0.4 3,-0.5 4.5,-0.5 z M 195,36 V 23.3 c -1.2,-0.2 -2.4,-0.4 -3.6,-0.4 -4.5,0 -6.6,2.8 -6.6,7.5 0,4.2 1.7,7.2 5.7,7.2 1.8,-0.1 3.3,-0.7 4.5,-1.6 z m 27.3,-4.1 h -14.5 c 0.6,3.7 2.7,5.4 6.8,5.4 2.5,0 5,-0.5 7.2,-1.6 -0.2,1.2 -0.4,2.8 -0.7,4.1 -2.1,0.9 -4.2,1.3 -6.7,1.3 -7.6,0 -11.2,-4.2 -11.2,-11.2 0,-6.1 2.8,-11 10,-11 6.5,0 9.3,4.2 9.3,9.4 0,1.4 0,2.4 -0.2,3.6 z M 207.8,28.1 H 218 c 0,-3.4 -1.8,-5.4 -4.9,-5.4 -3.3,0.1 -5,1.9 -5.3,5.4 z m 30.4,-8.9 c 0,1.4 -0.2,3 -0.4,3.9 -1.1,-0.1 -2.1,-0.2 -3.4,-0.2 -1.1,0 -2.2,0.1 -3.3,0.2 v 17.6 h -4.5 V 20.1 c 1.9,-0.7 5.2,-1.2 7.7,-1.2 1.3,0.1 2.9,0.1 3.9,0.3 z"
                            ></path>
                        </g>
                    </svg>
                </li>

                {/* LOGO 4 */}
                <li class="flex-none">
                    <svg
                        class="w-28"
                        viewBox="0 0 164 48"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M163.858 21.8339V18.9522H160.279V14.4722L160.159 14.5093L156.798 15.5377L156.731 15.5579V18.9523H151.426V17.0613C151.426 16.1808 151.623 15.507 152.011 15.0576C152.396 14.6136 152.948 14.3879 153.65 14.3879C154.156 14.3879 154.679 14.507 155.206 14.7417L155.338 14.8007V11.7659L155.276 11.743C154.784 11.5665 154.116 11.4775 153.288 11.4775C152.244 11.4775 151.296 11.7047 150.469 12.1548C149.641 12.6056 148.99 13.2492 148.534 14.0674C148.08 14.8847 147.849 15.8286 147.849 16.8732V18.9522H145.357V21.8339H147.849V33.9739H151.426V21.8339H156.731V29.5486C156.731 32.726 158.23 34.3361 161.186 34.3361C161.671 34.3361 162.183 34.2792 162.704 34.1677C163.236 34.0533 163.598 33.939 163.811 33.817L163.858 33.7891V30.8807L163.712 30.977C163.518 31.1063 163.276 31.212 162.993 31.2907C162.708 31.3707 162.471 31.4108 162.286 31.4108C161.594 31.4108 161.082 31.2242 160.764 30.856C160.442 30.4845 160.279 29.8348 160.279 28.9259V21.8339H163.858ZM137.369 31.4113C136.071 31.4113 135.047 30.9808 134.326 30.1327C133.6 29.2804 133.232 28.0653 133.232 26.5214C133.232 24.9286 133.6 23.6819 134.326 22.8146C135.048 21.9529 136.062 21.5156 137.34 21.5156C138.58 21.5156 139.568 21.9332 140.275 22.7577C140.986 23.5863 141.346 24.823 141.346 26.4344C141.346 28.0656 141.007 29.3186 140.338 30.1568C139.674 30.9887 138.675 31.4113 137.369 31.4113ZM137.528 18.5903C135.051 18.5903 133.084 19.3161 131.681 20.7476C130.279 22.1793 129.568 24.1605 129.568 26.6367C129.568 28.9886 130.262 30.8804 131.631 32.2587C132.999 33.6374 134.862 34.3358 137.166 34.3358C139.567 34.3358 141.495 33.5998 142.897 32.1485C144.299 30.6988 145.01 28.7363 145.01 26.3179C145.01 23.9292 144.343 22.0233 143.028 20.6542C141.712 19.2846 139.862 18.5903 137.528 18.5903ZM123.801 18.5903C122.116 18.5903 120.722 19.0213 119.658 19.8711C118.586 20.7259 118.043 21.847 118.043 23.2037C118.043 23.9089 118.16 24.5353 118.391 25.0667C118.623 25.5997 118.983 26.0691 119.46 26.463C119.934 26.8537 120.665 27.2629 121.634 27.6793C122.449 28.0146 123.057 28.2982 123.443 28.5217C123.82 28.7407 124.088 28.9609 124.239 29.1754C124.386 29.3852 124.46 29.6724 124.46 30.0269C124.46 31.0361 123.704 31.5271 122.149 31.5271C121.572 31.5271 120.915 31.4067 120.194 31.1692C119.478 30.9354 118.803 30.5929 118.191 30.1538L118.043 30.0473V33.4912L118.097 33.5166C118.603 33.7502 119.241 33.9473 119.994 34.1023C120.744 34.2575 121.426 34.3364 122.019 34.3364C123.847 34.3364 125.32 33.9034 126.394 33.0485C127.475 32.1878 128.023 31.0402 128.023 29.6366C128.023 28.6241 127.728 27.7558 127.147 27.0555C126.569 26.3609 125.567 25.7232 124.169 25.1595C123.055 24.7125 122.342 24.3415 122.048 24.0566C121.764 23.7815 121.62 23.3923 121.62 22.8995C121.62 22.4627 121.798 22.1127 122.163 21.8293C122.531 21.5444 123.043 21.3996 123.685 21.3996C124.281 21.3996 124.891 21.4937 125.497 21.6782C126.103 21.8627 126.636 22.1098 127.08 22.4121L127.226 22.512V19.2451L127.17 19.221C126.76 19.0452 126.219 18.8948 125.563 18.7727C124.909 18.6515 124.317 18.5903 123.801 18.5903ZM108.718 31.4113C107.42 31.4113 106.396 30.9808 105.675 30.1327C104.949 29.2804 104.581 28.0656 104.581 26.5214C104.581 24.9286 104.949 23.6819 105.675 22.8146C106.397 21.9529 107.41 21.5156 108.689 21.5156C109.929 21.5156 110.916 21.9332 111.624 22.7577C112.335 23.5863 112.695 24.823 112.695 26.4344C112.695 28.0656 112.356 29.3186 111.687 30.1568C111.023 30.9887 110.024 31.4113 108.718 31.4113ZM108.877 18.5903C106.4 18.5903 104.432 19.3161 103.03 20.7476C101.628 22.1793 100.917 24.1605 100.917 26.6367C100.917 28.9896 101.611 30.8804 102.98 32.2587C104.348 33.6374 106.211 34.3358 108.515 34.3358C110.916 34.3358 112.844 33.5998 114.247 32.1485C115.648 30.6988 116.359 28.7363 116.359 26.3179C116.359 23.9292 115.692 22.0233 114.377 20.6542C113.061 19.2846 111.21 18.5903 108.877 18.5903ZM95.487 21.5536V18.9522H91.9536V33.9736H95.487V26.2895C95.487 24.983 95.7833 23.9095 96.3679 23.0988C96.945 22.2977 97.7141 21.8917 98.6531 21.8917C98.9714 21.8917 99.3287 21.9442 99.7156 22.048C100.099 22.1512 100.376 22.2633 100.54 22.3812L100.688 22.4888V18.9265L100.631 18.9019C100.302 18.7621 99.8362 18.6916 99.2472 18.6916C98.3592 18.6916 97.5646 18.9769 96.884 19.5387C96.2866 20.0324 95.8548 20.7094 95.5246 21.5536H95.487ZM85.6258 18.5903C84.0047 18.5903 82.5588 18.9379 81.3289 19.6231C80.0965 20.31 79.1434 21.2905 78.4949 22.5373C77.8493 23.7811 77.5215 25.234 77.5215 26.8543C77.5215 28.2736 77.8393 29.5761 78.4675 30.724C79.096 31.8738 79.9855 32.7733 81.1116 33.3972C82.2361 34.0203 83.5357 34.3362 84.9746 34.3362C86.6538 34.3362 88.0876 34.0005 89.2371 33.3384L89.2835 33.3118V30.0746L89.135 30.183C88.6143 30.5623 88.0324 30.8651 87.4063 31.0832C86.7818 31.3011 86.2124 31.4113 85.7131 31.4113C84.3266 31.4113 83.2136 30.9774 82.4057 30.1221C81.596 29.2657 81.1855 28.0631 81.1855 26.5498C81.1855 25.027 81.6136 23.7935 82.4573 22.8834C83.2985 21.9759 84.4136 21.5156 85.7714 21.5156C86.9328 21.5156 88.0646 21.9088 89.1353 22.6855L89.2835 22.7932V19.3822L89.2356 19.3553C88.8327 19.1297 88.2832 18.9435 87.6009 18.8022C86.9216 18.6613 86.2571 18.5903 85.6258 18.5903ZM75.088 18.9523H71.5545V33.9736H75.088V18.9523ZM73.3574 12.5532C72.7758 12.5532 72.2686 12.7512 71.8518 13.1435C71.4334 13.5369 71.2211 14.0322 71.2211 14.6168C71.2211 15.1922 71.4308 15.6785 71.8453 16.0615C72.2571 16.4433 72.766 16.6368 73.3575 16.6368C73.9489 16.6368 74.4596 16.4433 74.8763 16.0621C75.2958 15.6785 75.5085 15.1923 75.5085 14.6168C75.5085 14.0527 75.3015 13.5624 74.8936 13.1593C74.4861 12.757 73.969 12.5532 73.3574 12.5532ZM64.5411 17.844V33.9736H68.1472V13.013H63.1562L56.8124 28.5819L50.6561 13.013H45.4619V33.9734H48.8507V17.8425H48.967L55.4679 33.9736H58.0253L64.4248 17.844H64.5411Z"
                            fill="#292929"></path>
                        <path
                            d="M16.6225 22.6313H0V6.00879H16.6225V22.6313Z"
                            fill="#292929"></path>
                        <path
                            d="M34.9757 22.6313H18.3535V6.00879H34.9757V22.6313Z"
                            fill="#292929"></path>
                        <path
                            d="M16.622 40.991H0V24.3687H16.622V40.991Z"
                            fill="#292929"></path>
                        <path
                            d="M34.9757 40.991H18.3535V24.3687H34.9757V40.991Z"
                            fill="#292929"></path>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</div>
