<span class="flex items-center">
  <span class="h-px flex-1 bg-gradient-to-r from-transparent to-gray-300"></span>
  <span class="shrink-0 px-4 font-bold text-lg" style="color: #0b3e61;">Nuestros trabajos</span>
  <span class="h-px flex-1 bg-gradient-to-l from-transparent to-gray-300"></span>
</span>
