<!-- component -->
<div id="services" class="section relative pt-20 pb-8 md:pt-16 md:pb-0" style="background-color: #0b3f61;">
  <div class="container xl:max-w-6xl mx-auto px-4">
    <!-- Heading start -->
    <header class="text-center mx-auto mb-12 lg:px-20">
      <h2 class="text-2xl leading-normal mb-2 font-bold text-white">Servicios</h2>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 60" style="margin: 0 auto;height: 35px;" xml:space="preserve">
        <circle cx="50.1" cy="30.4" r="5" stroke="white" fill="transparent" stroke-width="2" stroke-miterlimit="10"></circle>
        <line x1="55.1" y1="30.4" x2="100" y2="30.4" stroke="white" stroke-width="2" stroke-miterlimit="10"></line>
        <line x1="45.1" y1="30.4" x2="0" y2="30.4" stroke="white" stroke-width="2" stroke-miterlimit="10"></line>
      </svg>
      <p class="text-gray-300 leading-relaxed font-light text-xl mx-auto pb-2">Soluciones integrales para la imagen de tu negocio</p>
    </header>
    <!-- End heading -->
    <!-- row -->
    <div class="flex flex-wrap flex-row -mx-4 text-center">
      <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
        <!-- service block -->
        <div class="py-8 px-12 mb-12 rounded-lg border-2 border-white bg-transparent transform transition duration-300 ease-in-out hover:-translate-y-2 hover:bg-[#144a75]">
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="white" class="bi bi-building" viewBox="0 0 16 16">
              <path d="M8.5 0a.5.5 0 0 1 .5.5V1h1v-.5a.5.5 0 0 1 1 0V1h1v-.5a.5.5 0 0 1 1 0V1h.5A1.5 1.5 0 0 1 15 2.5v13a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-13A1.5 1.5 0 0 1 2.5 1H3v-.5a.5.5 0 0 1 1 0V1h1v-.5a.5.5 0 0 1 1 0V1h1v-.5a.5.5 0 0 1 .5-.5zM3 3v2h1V3H3zm2 0v2h1V3H5zm2 0v2h1V3H7zm2 0v2h1V3h-1zm2 0v2h1V3h-1zM2 6v9h12V6H2z"/>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">Fachadas y letreros</h3>
          <p class="text-gray-300">Diseñamos y fabricamos fachadas y letreros que destacan la imagen de tu negocio con materiales duraderos y acabados profesionales.</p>
        </div>
        <!-- end service block -->
      </div>
      <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
        <!-- service block -->
        <div class="py-8 px-12 mb-12 rounded-lg border-2 border-white bg-transparent transform transition duration-300 ease-in-out hover:-translate-y-2 hover:bg-[#144a75]">
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="white" class="bi bi-printer" viewBox="0 0 16 16">
              <path d="M2 7a1 1 0 0 0-1 1v4h2v2h10v-2h2v-4a1 1 0 0 0-1-1H2zm11 5H3v-3h10v3z"/>
              <path d="M5 1h6v4H5V1z"/>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">Gigantografías e impresión</h3>
          <p class="text-gray-300">Impresión de gran formato para publicidad impactante, con materiales resistentes y colores vibrantes que captan la atención.</p>
        </div>
        <!-- end service block -->
      </div>
      <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
        <!-- service block -->
        <div class="py-8 px-12 mb-12 rounded-lg border-2 border-white bg-transparent transform transition duration-300 ease-in-out hover:-translate-y-2 hover:bg-[#144a75]">
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="white" class="bi bi-signpost" viewBox="0 0 16 16">
              <path d="M7.5 1v14h1V1h-1z"/>
              <path d="M3 6h10v2H3V6z"/>
              <path d="M3 10h10v2H3v-2z"/>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">Ploteos y señalética</h3>
          <p class="text-gray-300">Soluciones en ploteo y señalización para guiar y comunicar eficazmente en espacios comerciales y públicos.</p>
        </div>
        <!-- end service block -->
      </div>
      <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
        <!-- service block -->
        <div class="py-8 px-12 mb-12 rounded-lg border-2 border-white bg-transparent transform transition duration-300 ease-in-out hover:-translate-y-2 hover:bg-[#144a75]">
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="white" class="bi bi-box-seam" viewBox="0 0 16 16">
              <path d="M8.5 1.5v13l-6-3.5v-6l6-3.5zM9.5 1.5l6 3.5v6l-6 3.5v-13z"/>
              <path d="M8 0L1 4v8l7 4 7-4V4L8 0z"/>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">Corpóreos</h3>
          <p class="text-gray-300">Fabricación de letras y figuras corpóreas que aportan volumen y presencia a tu marca en cualquier espacio.</p>
        </div>
        <!-- end service block -->
      </div>
      <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
        <!-- service block -->
        <div class="py-8 px-12 mb-12 rounded-lg border-2 border-white bg-transparent transform transition duration-300 ease-in-out hover:-translate-y-2 hover:bg-[#144a75]">
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="white" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706l-1.793 1.793-2.121-2.121L13.38.525a.5.5 0 0 1 .707 0l1.415 1.415z"/>
              <path d="M1 13.5V16h2.5l7.086-7.086-2.5-2.5L1 13.5z"/>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">Diseño</h3>
          <p class="text-gray-300">Creamos diseños personalizados que reflejan la identidad de tu marca y atraen a tu público objetivo.</p>
        </div>
        <!-- end service block -->
      </div>
      <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
        <!-- service block -->
        <div class="py-8 px-12 mb-12 rounded-lg border-2 border-white bg-transparent transform transition duration-300 ease-in-out hover:-translate-y-2 hover:bg-[#144a75]">
          <div class="inline-block text-white mb-4">
            <!-- icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="white" class="bi bi-tools" viewBox="0 0 16 16">
              <path d="M1 13.5V16h2.5l7.086-7.086-2.5-2.5L1 13.5z"/>
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706l-1.793 1.793-2.121-2.121L13.38.525a.5.5 0 0 1 .707 0l1.415 1.415z"/>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-white">Instalación</h3>
          <p class="text-gray-300">Servicio profesional de instalación para asegurar que tus proyectos luzcan perfectos y duraderos.</p>
        </div>
        <!-- end service block -->
      </div>
    </div>
    <!-- end row -->
  </div>
</div>