---
const cards = [
  {
    href: "#",
    imgSrc: "/ploteo_vehicular1.jpg",
    name: "Ploteo vehicular",
    description:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis perferendis hic asperiores quibusdam quidem voluptates doloremque reiciendis nostrum harum. Repudiandae?",
  },
  {
    href: "#",
    imgSrc: "/carteleria1.jpg",
    name: "Carteleria",
    description:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis perferendis hic asperiores quibusdam quidem voluptates doloremque reiciendis nostrum harum. Repudiandae?",
  },
  {
    href: "#",
    imgSrc:
      "/letras_cajas.jpg",
    name: "Letras cajas",
    description:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis perferendis hic asperiores quibusdam quidem voluptates doloremque reiciendis nostrum harum. Repudiandae?",
  },
];
---

<style>
  html {
    scroll-behavior: smooth;
  }
</style>

<div id="trabajos" class="max-w-[95rem] mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-8 rounded-lg overflow-hidden">
  {cards.map((card) => (
    <a href={card.href} class="group relative block bg-black rounded-lg overflow-hidden">
      <img
        alt=""
        src={card.imgSrc}
        class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
      />
      {/* Overlay con color hover */}
      <div class="absolute inset-0 bg-[#0b3e61] opacity-0 transition-opacity group-hover:opacity-50"></div>

      <div class="relative p-4 sm:p-6 lg:p-8">
        <p class="text-xl font-bold text-white sm:text-2xl">{card.name}</p>

        <div class="mt-32 sm:mt-48 lg:mt-64">
          <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
            <p class="text-sm text-white">{card.description}</p>
          </div>
        </div>
      </div>
    </a>
  ))}
</div>